/*  header */

.landing-page .mobile-menu ul li a {
	font-size: .9rem;
	text-transform: uppercase;
}


.landing-page .landing-page-nav .navbar-logo{
	width: 181px;
	height: 27.769px;
}

.landing-page .landing-page-nav .navbar-logo .white{
	width: 181px;
	height: 27.769px;
}
.landing-page .landing-page-nav .navbar-logo .dark{
	width: 181px;
	height: 27.769px;
}
 .landing-page .landing-page-nav .navbar-nav .nav-item > .dropdown > a, .landing-page .landing-page-nav .navbar-nav .nav-item > a {
font-weight: 700;
line-height: normal;
text-transform: uppercase;
} 
.landing-page .landing-page-nav .navbar-nav .nav-item .navbar-menu__link{
	font-size: .75rem;	
}
.landing-page .landing-page-nav .navbar-nav li {
	padding-left: 1rem;
	padding-right: 1rem;
}
.navbar-menu__link{
	font-size: clamp(12px, 1rem, 16px);
}
.navbar-language {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	gap: 10px;
}
.landing-page .landing-page-nav .navbar-nav .navbar-registration__list{
padding: 0;
margin-right: 10px;
}
.navbar-registration__link{
color: #FFF;
font-size: 1rem;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
padding: 11px 29px;
border-radius: 50px;
border: 1px solid #4C87AA;
}
.navbar-language__img{
	margin-top: -6px;
}
.landing-page .landing-page-nav .navbar-logo .white {
	margin-top: -3px;
}
/*  header */
.landing-page .teaching__title{
	font-weight: 700;
	line-height: 110%;
	font-size: 2.7rem;
	margin-bottom: 0.7em;
	color: #fff;
}
.landing-page .home-text p:last-of-type {
	margin-bottom: 0;
}


.teaching__body{
  margin-bottom: 16px;
}
.teaching__container  {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 30px; 
 }
@media (min-width: 1200px){
 .teaching__container  {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
 }
}
  .item-teaching__item {
		 display: flex;
		 gap: 13px;
		 align-items: center;		 
 }
 .landing-page .item-teaching__icon img{
	width: 60px;
 }
 .landing-page .item-teaching__title {
	color: #FFF;
font-size: 18px;
font-weight: 500;
line-height: 130%;
 }
 @media (min-width: 1200px){
	.landing-page .item-teaching__title {
	max-width: 320px; }
 }
 .item-teaching__title a {
	text-decoration-line: underline;
 }
 .item-teaching__title a, .item-teaching__title a:active,  .item-teaching__title a:hover {
    color: #FFF;
}


.training-materials__title {
color: #FFF;
text-align: center;
font-size: 48px;
font-weight: 700;
line-height: 110%; /* 52.8px */
margin-bottom: 51px;
}


.training-materials__container {
	display: grid;
	grid-template-columns: 303px 449px 290px 61px;
	grid-template-rows: auto 1fr auto;
	/* gap: 10px; */
	border-radius: 50px;
border: 1px solid #DEE2E6;
background: #FFF;
}
@media (max-width: 1200px){
	.training-materials__container {	
		grid-template-columns: 1fr auto auto auto;	
	}
}
@media (max-width: 768px){
	.training-materials__container {	
		display: none;
	}
}

.training-materials__container div{
	border: 1px solid #DEE2E6;
}

.training-materials__header {
  padding: 31px 0px 31px 42px;
  color: #465156;
font-size: 18px;
font-weight: 700;
line-height: 110%; /* 19.8px */
}
@media (max-width: 1200px){
	.training-materials__header{
		padding: 31px 0px 31px 31px;
	}
}
.training-materials__content, .training-materials__footer {
color: #465156;
font-size: 16px;
font-weight: 400;
line-height: 110%; /* 17.6px */
}
.training-materials__content-1, .training-materials__footer-1 {
	padding: 28px 32px 0px 42px;	
}
@media (max-width: 1200px){
	.training-materials__content-1, .training-materials__footer-1, .training-materials__header-1{
		padding: 28px 20px 0px 20px;
	}
}
.training-materials__content-2, .training-materials__footer-2 {
	padding: 28px 32px 36px 40px;	
}
.training-materials__content-2 ol, .training-materials__footer-2 ol {
	padding-left: 0px;
}
.training-materials__content-3, .training-materials__footer-3 {
	padding: 28px 0px 0px 36px;	
}
@media (max-width: 1200px){
	.training-materials__content-3, .training-materials__footer-3{
		padding: 28px 20px 0px 20px;
		
	}
}
.training-materials__content-4, .training-materials__footer-4 {
	padding-top: 22px;
	text-align: center;	
}
.training-materials__container-small{
	display: none;
}
@media (max-width: 768px){
.training-materials__container-small{
	display: grid;
	/* gap: 10px; */
	border-radius: 50px; 
border: 1px solid #DEE2E6;
background: #FFF;
	grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
}
}
@media (max-width: 768px){
	.training-materials__header, .training-materials__content, .training-materials__footer {	
		padding: 0;
		margin: 30px 20px 0px 30px;
	}
	.training-materials__content li{
		padding-bottom: 10px;
	}
}

.row.bg-primary.webinar-block{
	margin-bottom: 87px;
}
.webinar-block{
	min-height: 376px;
	margin-bottom: 161px;
	padding-top: 0;
	padding-bottom: 0;
	position: relative;
}
.webinar-block::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../images/site/webinar_promotion.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: 0;
	background-color: transparent;
  filter: brightness(1.3); /* Увеличение яркости на 20% */}
  .landing-page .webinar-block__wrapper {
	  position: relative;
	  z-index: 2;
  }
.landing-page .webinar-block__title{
font-weight: 700;
line-height: 110%;
margin-bottom: 41px;
}
.landing-page .webinar-block__text{
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 41px;
  padding: 0px 15px;
  }

  
  .questions {
}
.landing-page .questions__title {
color: #145388;
text-align: center;
font-size: 48px;
font-weight: 700;
line-height: 110%; /* 52.8px */
margin-bottom: 51px;
}
.questions-spoiler {
	display: flex;
padding: 40px;
flex-direction: column; 
 align-items: stretch;
row-gap: 32px;
border-radius: 50px;
background: #FFF;
box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.10);
margin-bottom: 30px;
}
.spoiler {
}
.spoiler-header {
	display: flex;
	justify-content: space-between;
	/* width: 100%; */
cursor: pointer;
color: #465156;
font-size: 18px;
font-weight: 700;
line-height: 110%; /* 19.8px */
 }
 .arrow-icon {
	width: 13px;
	height: 13px;
	transition: transform 0.3s ease-in-out;
 }
 .spoiler-content {
	display: none;
	color: #465156;
font-size: 18px;
font-style: italic;
font-weight: 400;
line-height: 110%; /* 19.8px */
 }

 .spoiler.open .arrow-icon {
	transform: rotate(180deg);
 }
 
 .questions__wrapper:last-child {
margin-bottom: 0;
 }

 .landing-page .section.main-block {
padding: 0;
margin: 0;
 }

 .section.home.home-teaching {
margin-bottom: 87px;
 }

/* footer */
  
.landing-page .section.footer {
	margin-top: 0px;
}
.landing-page .footer .footer-logo {
	width: 316.33px;
	margin-bottom: 0px;
}
.landing-page .footer-content{
	text-align: right;
	flex: 0 0 100%;
    max-width: 100%;
}
.landing-page .contacts__title{
	color: #FFF;
font-size: 36px;
font-weight: 700;
line-height: 110%;
}
.landing-page .contacts__menu {
	padding-bottom: 54px;
}
.landing-page .contacts__body{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
row-gap: 50px;
}
.landing-page .contacts__list{
	display: flex;
	justify-content: space-between;	
	flex-wrap: wrap;
	padding-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	list-style-type: none;
	row-gap: 50px;
}

.landing-page .contacts__item{
margin-right: 30px;
color: #FFF;
font-size: 20px;
font-weight: 500;
cursor: pointer;
padding-left: 36px;
position: relative;
}
.landing-page .contacts__item-tel{
	padding-left: 69px;	
}
.landing-page .contacts__item-tel:before{
	content: "";
  position: absolute;
  background: url(../../images/site/icon-call.svg);
  height: 25px;
  width: 58px;
  top: 0;
  left: 0;
}
.landing-page .contacts__item-mail:before{
	content: "";
  position: absolute;
  background: url(../../images/site/icon-mail.svg);
  height: 25px;
  width: 25px;
  top: 0;
  left: 0;
}
.landing-page .contacts__item-vk:before{
	content: "";
  position: absolute;
  background: url(../../images/site/icon-vk.svg);
  height: 25px;
  width: 25px;
  top: 0;
  left: 0;
}
.landing-page .contacts__item:last-child {
	margin-right: 0;
 }
 
.footer__info{
	padding-bottom: 128px;
}
.footer__link{
color: #FFF;
font-size: 14px;
font-weight: 400;
line-height: 110%; 
text-decoration-line: underline;
}
.footer__link:active, .footer__link:hover {
    color: #FFF;
}

.landing-page .section.footer{
	background-color: inherit;
}